<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="twitter:" content="">
    <title>Proyecto</title>
  </head>
  <body>
    <h1>Mi E-commerce</h1>
    {{{ body }}}
  </body>
</html>
